@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  /* @apply bg-primary-cream; */
  /* font-family: "montserrat", sans-serif; */
}

p,
h1 {
  /* font-family: "montserrat", sans-serif; */
}

h2,
.font-custom {
  font-family: "Josefin Sans", sans-serif;
}

svg {
  display: inherit;
}
